<ion-content>
  <h1>Mon profil</h1>
  <h1>{{user?.name}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
      <ion-card>
      <ion-card-header>
      <ion-card-title>Voyages</ion-card-title>
</ion-card-header>
<ion-card-content>
  <h2>{{user?.tripsCount}}</h2>
</ion-card-content>
<ion-button (click)="this.router.navigateByUrl('/trip-list')">Voir</ion-button>

</ion-card>
</ion-col>
<ion-col>
<ion-card>
  <ion-card-header>
    <ion-card-title>Lieux</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h2>{{numberPlaces}}</h2>
  </ion-card-content>
  <ion-button (click)="this.router.navigateByUrl('/places-map')">Voir</ion-button>
  </ion-card>
</ion-col>
</ion-row>
  </ion-grid>
