h1 {

    margin: 50px 10px;

    padding-left: 30px;

    text-align: center;
    vertical-align: middle;

    font-family: Mulish !important;
    font-size: 20px;
    font-weight: 800;
}

ion-back-button {
    position: absolute;

    height: 50px;
    width: 50px;

    margin: 38px 25px;

    border-radius: 10px;
    
    background-color: #9980FF;
    color: #fff;
}


ion-button {
    font-family: Mulish !important;
    font-size: 20px;
    font-weight: 800;
    
}