<ion-content>

  <ion-back-button defaultHref="places-map" icon="arrow-back" text=""></ion-back-button>
  <h1>Modifier le lieu</h1>


  <form #modifyPlaceForm="ngForm" *ngIf="isDataAvailable"
  (submit)="onSubmit(modifyPlaceForm)">
  <ion-list>
    <!-- Username input -->
    <ion-item>
      <ion-input placeholder="{{placeSelected.name}}" inputmode="text"
        required="true"
        name="name"
        (ionChange)="changeInput($event.target)"
        [(ngModel)]="placeRequest.name"></ion-input>
    </ion-item>

    <!-- Password input -->
    <ion-item>
      <ion-textarea [autoGrow]="true" placeholder="Description" inputmode="text"
        required="true"
        type="text"
        name="description"
        (ionChange)="changeInput($event.target)"
        [(ngModel)]="placeRequest.description"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="placeRequest.tripId" name="tripId" interface="popover" placeholder="Voyage">
          <ion-select-option *ngFor="let trip of tripsList"  value="{{trip.id}}">{{trip.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div id="addPhotoSection" (click)="takePicture()">
      <ion-icon *ngIf="!placeRequest.pictureUrl" name="images-outline" size="large"></ion-icon>
      <p *ngIf="!placeRequest.pictureUrl">Ajouter une photo</p>

      <img *ngIf="placeRequest.pictureUrl" [src]="placeRequest.pictureUrl" />
      <ion-icon *ngIf="placeRequest.pictureUrl" name="create-outline" id="modifyPicture" size="large"></ion-icon>
    </div>

  <div class="ion-padding">
    <!-- Submit button -->
    <ion-button *ngIf="showValidateButton" type="submit" expand="block">Modifier</ion-button>
    <ion-button color="danger" (click)='deletePlace()' expand="block">Supprimer</ion-button>
  </div>


  <!-- Error message displayed if the form failed -->
  <!-- <ion-text color="danger"
  *ngIf="formError">Username or password is invalid.</ion-text> -->
</ion-list>
</form>

<ion-list *ngIf="!isDataAvailable">
  <ion-item>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 130px;"></ion-skeleton-text>
      </p>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 30px;"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 190px;"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 50px; margin-top: 25px;"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
