<ion-content>
  <ion-back-button defaultHref="home" icon="arrow-back" text=""></ion-back-button>
  <h1>Ajouter un lieu</h1>
  
  <form #addPlaceForm="ngForm"
  (submit)="onSubmit(addPlaceForm)">
  <ion-list>
    <!-- Username input -->
    <ion-item>
      <ion-input placeholder="Nom" inputmode="text"
        required="true"
        name="name"
        [(ngModel)]="placeRequest.name"></ion-input>
    </ion-item>

    <!-- Password input -->
    <ion-item>
      <ion-textarea placeholder="Description" inputmode="text"
        required="true"
        type="text"
        name="description"
        [(ngModel)]="placeRequest.description"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-select [(ngModel)]="placeRequest.tripId" name="tripId" interface="popover" placeholder="Voyage">
          <ion-select-option *ngFor="let trip of tripsList"  value="{{trip.id}}">{{trip.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- <ion-button id="addPhotoButton" (click)="takePicture()" *ngIf="!picture">
      <ion-icon name="camera-outline"></ion-icon>
      Ajouter une photo
    </ion-button> -->

    
    <div id="addPhotoSection" (click)="takePicture()">
      <ion-icon *ngIf="!placeRequest.pictureUrl" name="images-outline" size="large"></ion-icon>
      <p *ngIf="!placeRequest.pictureUrl">Ajouter une photo</p>

      <img *ngIf="placeRequest.pictureUrl" [src]="placeRequest.pictureUrl" />
      <ion-icon *ngIf="placeRequest.pictureUrl" name="create-outline" id="modifyPicture" size="large"></ion-icon>
    </div>

  <div class="ion-padding">
    <!-- Submit button -->
    <ion-button type="submit" expand="block">Créer</ion-button>
  </div>

</ion-list>
</form>
</ion-content>
