<ion-content>
  <ion-back-button defaultHref="home" icon="arrow-back" text=""></ion-back-button>
  <h1>Modifier le voyage</h1>

  <form #modifyTripForm="ngForm" *ngIf="isDataAvailable"
  (submit)="onSubmit(modifyTripForm)">
  <ion-list>
    <!-- Username input -->
    <ion-item>
      <ion-input placeholder="{{tripRequest.title}}" inputmode="text"
        required="true"
        name="title"
        (ionChange)="changeInput($event.target)"
        [(ngModel)]="tripRequest.title"></ion-input>
    </ion-item>

    <!-- Password input -->
    <ion-item>
      <ion-textarea [autoGrow]="true" placeholder="{{tripRequest.description}}" inputmode="text"
        required="true"
        type="text"
        name="description"
        (ionChange)="changeInput($event.target)"
        [(ngModel)]="tripRequest.description"></ion-textarea>
    </ion-item>


  <div class="ion-padding">
    <!-- Submit button -->
    <ion-button *ngIf="showValidateButton" type="submit" expand="block">Modifier</ion-button>
    <ion-button color="danger" (click)='deleteTrip()' expand="block">Supprimer</ion-button>
  </div>


  <!-- Error message displayed if the form failed -->
  <!-- <ion-text color="danger"
  *ngIf="formError">Username or password is invalid.</ion-text> -->
</ion-list>
</form>
</ion-content>
