h1 {

    margin: 50px 10px;

    text-align: center;
    vertical-align: middle;

    font-family: Mulish !important;
    font-size: 20px;
    font-weight: 800;
}

ion-back-button {
    position: absolute;

    height: 50px;
    width: 50px;

    margin: 38px 25px;

    border-radius: 10px;
    
    background-color: #9980FF;
    color: #fff;
}

ion-input, ion-textarea {
    padding: 0 25px !important;
    margin: 10px auto;

    border: none;
    border-radius: 16px;
    
    background-color: var(--ion-color-light);
}

ion-textarea {
    padding: 10px 25px !important;

    height: 140px;
}

ion-button {

    font-family: Mulish !important;
    font-size: 20px;
    font-weight: 800;
    
}

ion-skeleton-text {
    --border-radius: 16px;
}